body{ 
    background: url(Minimalistic_cheddi.jpg) no-repeat center center fixed; /* Our background: no repeat restricts the picture to be displayed only once. fixed restricts the image not scroll.*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(0, 0, 0); 

    /* font family and alignment */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
    color: rgb(0, 0, 0);
    
}
h1,h2{ /* again a seperate font for heading, if the first one is unavailable next one goes. */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* having a specific button font */
  
}
.title{ /* this is dead code, does nothing. */
    margin-right: 20%;
    margin-left: 20%;
    text-align: right;
}

.homepage_div{
    /* div box details, self explanatory */
    margin-right: 30%;
    margin-top: 5%;
    margin-left: 10%;
    text-align : center;
    border-radius: 25px;
    background: rgb(130, 192, 121);
    padding: 20px;
    width: 500px;
    height: 300px;

}
